.container {
  min-width: 100%;
  position: relative;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
}

.bottom {
  /* overflow-x: auto; */
  height: 100%;
  min-height: 400px;

  @media screen and (min-width: 768px) {
    min-height: 292px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 284px;
  }
}

.title {
  font-size: 24px;

  @media screen and (min-width: 767px) {
    font-size: 26px;
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 4px;

  p {
    font-size: 16px;
    color: var(--primary-blue);
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    gap: 12px;
  }
}

.btn {
  transition: transform 0.2s var(--transition), opacity 0.2s var(--transition);

  &:disabled {
    opacity: 0.3;
  }
}

.btnPrev {
  transform: rotate(90deg);

  &:hover {
    transform: rotate(90deg) translateY(2px);
    opacity: 0.5;
  }
}

.btnNext {
  transform: rotate(-90deg);

  &:hover {
    transform: rotate(-90deg) translateY(2px);
    opacity: 0.5;

    &:disabled {
      opacity: 0.3;
      transform: rotate(-90deg) translateY(0px);
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-template-rows: auto;

  gap: 16px 26px;

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(10, max-content);
    gap: 20px 34px;
  }

  @media screen and (min-width: 1440px) {
    gap: 20px 22px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.day {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--primary-white);
  border: 1px solid var(--secondary-orange);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 4px;

  @media screen and (min-width: 767px) {
    width: 34px;
    height: 34px;
  }

  & .span {
    font-size: 14px;

    @media screen and (min-width: 767px) {
      font-size: 16px;
    }
  }
}

.dayIsGoal {
  border: 1px solid var(--primary-white);
}

.percentage {
  font-size: 10px;
  color: var(--secondary-4);

  @media screen and (min-width: 767px) {
    font-size: 13px;
  }
}

.arrow {
  width: 16px;
  height: 16px;
  fill: var(--primary-blue);
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockLoader {
  --clock-color: var(--primary-color);
  --clock-width: 4rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }

  &::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  &::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
