.waterPanel {
  width: 592px;
  height: 90px;
  display: flex;
  align-items: flex-start;
  gap: 23px;
}
.waterProgressBar {
  width: 391px;
  height: 90px;
}
.btnAddWater {
  border-radius: 10px;
  padding: 10px 30px;
  width: 178px;
  height: 44px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.today {
  font-size: 18px;
  line-height: 1.33333;
  text-align: start;
  color: #407bff;
}
