.waterPanel {
  width: 592px;
  height: 90px;
}
.btnAddWater {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #76c7c0;
  color: white;
  border: none;
  cursor: pointer;
}
.today {
  font-size: 18px;
  line-height: 1.33333;
  text-align: start;
  color: #407bff;
}

button:hover {
  background-color: #64aea8;
}

input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
