ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

.justForCheck {
  width: max-content;
}

.mainBox {
  background-color: var(--secondary-2);
  padding: 32px 16px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-darkblue);
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 280px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.listItemText {
  line-height: 1.2;
}

.listItemSvg {
  min-width: 8px;
  min-height: 8px;
}

.listItemUse {
  fill: var(--primary-blue);
}

@media screen and (min-width: 768px) {
  .mainBox {
    padding: 32px 24px;
    max-width: 494px;
  }
}

@media screen and (min-width: 1440px) {
  .justForCheck {
    margin: 0;
  }
}
