.link {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;

  font-weight: 400;
  font-size: 16px;
  color: var(--primary-blue);

  transition: opacity 0.2s var(--transition);

  &:hover {
    opacity: 0.5;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.iconUser {
  stroke: var(--primary-black);
  fill: none;
}
