.picture {
  position: absolute;
  bottom: -276px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.img {
  max-width: 280px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .img {
    max-width: 656px;
  }

  .picture {
    left: 57%;
  }
}

@media screen and (min-width: 1280px) {
  .img {
    max-width: 916px;
  }

  .picture {
    top: -142px;
    left: 0%;
    transform: translateX(0);
  }
}
