.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addWaterBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button {
  background-color: transparent;
  color: #407bff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: max-content;
  padding: 0;
  border: 1px solid transparent;
}

.button:hover,
.button:focus {
  border: 1px solid transparent;
  background-color: transparent;
  color: #ff9d43;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 524px;
  }
}
