.defaultOverlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.transparentOverlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.defaultModal {
  position: relative;
  padding: 24px 12px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: auto;
  max-height: 95%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 32px 24px;
  }
}

.no-scroll {
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 12px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .closeButton {
    top: 36px;
    right: 24px;
  }
}
