.container {
  max-width: 280px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  color: var(--primary-black);
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.listItem {
  display: flex;
  gap: 4px;
}

.textGender {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-black);
}

.textFormula {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-blue);
}

.discription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8f8f8f;

  border: 1px solid var(--secondary-lightblue);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 24px;
}

.discription span {
  color: var(--primary-blue);
}

.subTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: var(--primary-black);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 656px;
  }

  .list {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 544px;
  }
}
