.container {
  z-index: 1;
  position: relative;

  max-width: 336px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-blue);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 8px;
}

.googleButton:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.googleButton svg {
  width: 20px;
  height: 20px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  color: var(--primary-black);
  margin: 0;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white);
  border-radius: 10px;
  padding: 8px 0;
  box-shadow: var(--box-shadow-darkblue);
  background: var(--primary-blue);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:hover,
.button:focus {
  box-shadow: var(--box-shadow-blue);
}

.button:active {
  box-shadow: none;
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-blue);
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 384px;
    flex: 1;
  }
}
