.background {
  background-image: url(/welcome-page/mob/MainPageBG.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .sizeBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
  }
}

[data-theme='dark'] .background {
  background-image: url(/darktheme/mobile-background-main-page-1x.png);
}

.container {
  padding: 24px 20px 40px;
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url(/welcome-page/tab/MainPageBG.png);
    background-size: contain;
    padding: 40px 32px 50px;

    .sizeBox {
      max-width: 768px;
      gap: 60px;
    }
  }

  [data-theme='dark'] .background {
    background-image: url(/darktheme/tablet-background-main-page-1x.png);
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: url(/welcome-page/desk/MainPageBG.png),
      url(/welcome-page/desk/MainPageBubbleBG.png);
    background-size: contain, contain;
    background-position: bottom;
    /* height: 93.5vh; */
    max-width: 100%;
    margin: 0;

    .sizeBox {
      max-width: max-content;
      gap: 81px;
      flex-direction: row;
      align-items: end;
    }
  }

  [data-theme='dark'] .background {
    background-image: url(/darktheme/desktop-background-main-page-1x.png),
      url(/darktheme/desktop-background-element-main-page-1x.png);
  }

  .container {
    padding: 41px 32px 109px;
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  @media (max-width: 767px) {
    .background {
      background-image: url(/welcome-page/mob/MainPageBG@2x.png);
    }

    [data-theme='dark'] .background {
      background-image: url(/darktheme/mobile-background-main-page-2x.png);
    }
  }

  @media (min-width: 768px) {
    .background {
      background-image: url(/welcome-page/tab/MainPageBG@2x.png);
    }

    [data-theme='dark'] .background {
      background-image: url(/darktheme/tablet-background-main-page-2x.png);
    }
  }

  @media (min-width: 1440px) {
    .background {
      background-image: url(/welcome-page/desk/MainPageBG@2x.png),
        url(/welcome-page/desk/MainPageBubbleBG@2x.png);
    }

    [data-theme='dark'] .background {
      background-image: url(/darktheme/desktop-background-main-page-2x.png),
        url(/darktheme/desktop-background-element-main-page-2x.png);
    }
  }
}
