:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primery-color-white: #fff;
  --primery-color-black: #2f2f2f;
  --primery-color-blue: #407bff;
  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #ef5050;
  --secondary-color-4: #9ebbff;
  --secondary-color-5: #ff9d43;
  --secondary-color---5: #d7e3ff;
  --color: #fff;
  --color-2: #2f2f2f;
  --color-3: #407bff;
  --color-4: #ecf2ff;
  --color-5: #ef5050;
  --color-6: #9ebbff;
  --color-7: #ff9d43;
  --color-8: #d7e3ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}
