.homepage {
  background-image: url(../../../images/mobile-homescreen-bg-bubbles-1x.webp);
  background-size: cover;
  background-position: center 52px;
  background-repeat: no-repeat;
  padding: 24px 20px 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .homepage {
    background-image: url(../../../images/mobile-homescreen-bg-bubbles-2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .homepage {
    background-image: url(../../../images/tablet-homescreen-bg-bubbles-1x.webp);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .homepage {
      background-image: url(../../../images/tablet-homescreen-bg-bubbles-2x.webp);
    }
  }
}

@media screen and (min-width: 1440px) {
  .homepage {
    background-image: url(../../../public/images/desktop-mainpage-bg-bubbles-1x.webp);
    padding: 20px 20px 40px;
    flex-direction: row;
    flex-shrink: 0;
  }

  .col {
    width: 592px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .homepage {
      background-image: url(../../../public/images/desktop-mainpage-bg-bubbles-2x.webp);
    }
  }
}
