.modal {
  position: absolute;
  min-width: 290px;
  width: 100%;
  height: auto;
  background: var(--primary-white);
  z-index: 300;
  background-color: var(--primary-white);
  border-radius: 10px;
  padding: 24px 13px;
  box-shadow: var(--box-shadow-darkblue);
  overflow: hidden;
  transform: translate(0, -50%);

  @media screen and (min-width: 1440px) {
    transform: translate(-50%, -50%);
  }
}

.modalList {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-black);
  display: flex;
  flex-direction: column;
  gap: 16px;
  pointer-events: none;
}

.dynamicElement {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--primary-blue);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 292px;
    padding: 24px, 16px;
  }
}
