.section {
  padding-top: 24px;
  height: 100vh;
  background-image: url("../../assets/auth-page/background-mobil-1x.png");
  background-repeat: no-repeat;
  background-position: 0px 45px;
  background-size: 100% auto;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    background-image: url("../../assets/auth-page/background-tabl-1x.png");
    background-position: 0 -60px;
  }

  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 162px;
    background-image: url("../../assets/auth-page/background-deskt-1x.png");
    background-position: 0 49px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    padding: 0 216px;
  }
}
